<%# エラーメッセージの部分テンプレート %>
<% if @post.errors.any? %>
  <div class="vali_alert">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>