<%= form_with(model: @post, local: true) do |f| %>
    <div class="form_area">
        <%= render "templates/error_messages" %>
        <div class="form_area__field">
            <%= f.text_area :content, placeholder: "投稿内容を入力", rows: 10 %>
        </div>
        <div class="form_area__action">
            <%= f.submit "投稿", class: "form_area__action__btn", "data-disable-with": "投稿" %>
        </div>
    </div>
<% end %>